
<section>
  <div *ngIf="!res" class="example-button-row">
    <button (click)="mostrar()" mat-raised-button>Mostrar Lista</button>
  </div>


  <div *ngIf="res" class="example-button-row">
    <button (click)="ocultar()" mat-raised-button>Ocultar Lista</button>
  </div>
</section>


<table *ngIf="res">

  <tr>
    <th>Nº</th>
    <th>NOMBRE</th>
    <th>COSTO</th>
  </tr>

  <tr *ngFor="let item of ELEMENT_DATA">
    <td>{{item.position}}</td>
    <td>{{item.name}}</td>
    <td>{{item.weight}}</td>


  </tr>
</table>
